:root {
--light-red: hsl(0, 100%, 67%);
--orangey-yellow: hsl(39, 100%, 56%);
--green-teal: hsl(166, 100%, 37%);
--cobalt-blue: hsl(234, 85%, 45%);


--light-slate-blue: hsl(252, 100%, 67%);
--light-royal-blue: hsl(241, 81%, 54%);

--violet-blue: hsla(256, 72%, 46%, 1);
--persian-blue: hsla(241, 72%, 46%, 0);



--white: hsl(0, 0%, 100%);
--pale-blue: hsl(221, 100%, 96%);
--light-lavender: hsl(241, 100%, 89%);
--dark-gray-blue: hsl(224, 30%, 27%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

html {
    font-size: 62.5%;
    font-family: 'Hanken Grotesk', sans-serif;
    font-style: normal;
}

body {
    background: white;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.result {
    background-image: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
    box-shadow: 0px 3rem 6rem rgba(61, 108, 236, 0.15);
    border-radius: 0px 0px 3.2rem 3.2rem;
    padding-block-start: 2.4rem;
    padding-block-end: 4rem;
    text-align: center;
}

.result__title {
    color: var(--light-lavender);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
}

.result__scores {
    margin-inline: auto;
    margin-block-start: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    width: 14rem;
    border-radius: 50%;
    background-image: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
}

.result__score--current {
    font-weight: 800;
    font-size: 5.6rem;
    line-height: 7.2rem;
    color: var(--white);
}

.result__score--maximum {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: var(--light-lavender);
    mix-blend-mode: normal;
    opacity: 0.52;
}

.result__message {
    margin-block-start: 2.4rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
    color: var(--white);
}

.result__classification {
    margin-inline: auto;
    margin-block-start: 8px;
    max-width: 26rem;
    color: var(--light-lavender);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.1rem;
    text-align: center;
}

.summary {
    margin-inline: auto;
}

.summary__title {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: var(--dark-gray-blue);
    margin-bottom: 2.4rem;
}

.summary-card {
    width: 31.5rem;
    border-radius: 12px;
    padding: 1.7rem 1.6rem 1.8rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary-card--reaction {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #FF5555;
    color: var(--light-red);
}

.summary-card--memory {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #FFB21E;
    color: var(--orangey-yellow);
}

.summary-card--verbal {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #00BB8F;
    color: var(--green-teal);
}
.summary-card--visual {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), var(--cobalt-blue);
    color: var(--cobalt-blue);
}

.summary-card + .summary-card {
    margin-top: 1.6rem;
}

.summary-card__title {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.1rem;


    display: flex;
    align-items: center;
    gap: 12px;
}

.summary-card__scores {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: var(--dark-gray-blue);
    

    display: flex;
    align-items: center;
    gap: 8px;
}

.summary-card__score--maximum {
    opacity: 0.5;
}

.summary-card:last-of-type {
    margin-bottom: 2.4rem;
}

.summary__cta {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 1.7rem 0 1.6rem;

    color: var(--white);
    border: none;

    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-align: right;

    background-color: #303B59;
    border-radius: 12.8rem;
}

.summary__cta:hover {
    background-image: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
}


@media screen and (min-width: 768px) {
    body {
        min-height: 100vh;        
    }
    .main {
        flex-direction: row;
        gap: 0;
        max-width: 73.6rem;
        margin-inline: auto;
        margin-block-start: 28.4rem;
        background-color: var(--white);
        box-shadow: 0px 3rem 6rem rgba(61, 108, 236, 0.15);
        border-radius: 3.2rem;
    }

    .result {
        padding: 3.8rem 5.4rem 4.6rem;
        border-radius: 32px;
    }

    .result__title {
        font-size: 2.4rem;
        line-height: 3.1rem;
    }

    .result__scores {
        margin-block-start: 3.5rem;
        width: 20rem;
    }

    .result__score--current {
        font-size: 7.2rem;
    }

    .result__score--maximum {
        font-size: 1.8rem;
        line-height: 2.3rem;
    }

    .result__message {
        margin-block-start: 2.8rem;
        font-size: 3.2rem;
        line-height: 4.2rem;
    }
    
    .result__classification {
        margin-block-start: 1.4rem;
        font-size: 1.8rem;
        line-height: 2.3rem;
    }

    .summary {
        margin-block: 0;
        margin-inline: auto;
        padding: 3.8rem 4rem 4.6rem;
    }

    .summary-card {
        width: 28.8rem;
    }


    .summary__title {
        font-size: 2.4rem;
        line-height: 3.1rem;
        margin-block-end: 2.8rem;
    }

    .summary-card__title {
        font-size: 1.8rem;
        line-height: 2.3rem;
    }

    .summary-card__scores {
        font-size: 1.8rem;
        line-height: 2.3rem;
    }

    .summary-card:last-of-type {
        margin-bottom: 4.1rem;
    }

    .summary__cta {
        padding: 1.7rem 0 1.6rem;
        font-size: 1.8rem;
        line-height: 2.3rem;
    }
    
}